.row
  .col-xs-12.col-md-4.col-md-offset-4
    .well#welcome-well
      %h3.text-center Tempore a debitis nostrum iste.
      %p Officiis impedit veritatis vitae vero voluptatem. Officiis exercitationem et. Quam deleniti minima consequatur officia optio. Aut aperiam sed rem quia. Qui sequi commodi non porro velit magni molestias.
      .fb-share-button{"data-href" => "https://www.unifywater.com", "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "large"}
        %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.unifywater.com%2F&src=sdkpreparse", :target => "_blank"} Share

      = link_to "Donate", donate_path, :class => "btn btn-info btn-block btn-lg"
