.row
  .col-xs-12.col-md-4.col-md-offset-4
    .well#welcome-well
      %h3.text-center Tempore a debitis nostrum iste.
      %p Officiis impedit veritatis vitae vero voluptatem. Officiis exercitationem et. Quam deleniti minima consequatur officia optio. Aut aperiam sed rem quia. Qui sequi commodi non porro velit magni molestias.
      = link_to "Donate", "/donate", :class => "btn btn-info btn-block btn-lg"
