= stylesheet_link_tag "devise/registrations"
.loginmodal-container
  %h2 Please login with Facebook to continue
  %a.btn.btn-fb.btn-block{:href => user_facebook_omniauth_authorize_path}
    %i.fa.fa-facebook
    Sign in with Facebook
