body{
    background:url('https://upload.wikimedia.org/wikipedia/commons/5/52/Retezat_Mountain_-_Spring_Waterfall_02.JPG');
    padding:50px;
}

#welcome-well{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
