.fb-share-button{"data-href" => "https://www.unifywater.com", "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "large"}
  %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.unifywater.com%2F&src=sdkpreparse", :target => "_blank"} Share
