%nav.navbar.navbar-default.navbar-inverse{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %a.navbar-brand{:href => "/"} H20 INITIATIVE
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right

        - if user_signed_in?
          %li
            = link_to('Logout', destroy_user_session_path, :method => :delete)
          %p.navbar-text.navbar-right
            = current_user.email

        - else
          %li
            = link_to("Create account", new_user_registration_path)
          %li
            = link_to("Sign in", new_user_session_path)
